.headerdiv {
  width: 591px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  @media(max-width: 376px){
    width: 184px;
  }
}
h1 {
  font-weight: 900;
  font-size: 25px;
  @media(max-width: 376px){
    margin-left: 10px;
    position: absolute;
    margin-top: -65px;
  }
}
.p1 {
  color: #69707d;
  font-size: 15px;
  transition: 0.1s;
  height: 50px;
  margin-top: 37px;
  @media(max-width: 376px){
    display: none;
  }
}
.headerdiv2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  width: 150px;
  gap: 20px;
  @media(max-width: 376px){
    gap: 10px;
    margin-top: -58px;
  }
}
.profile {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: 0.1s;
  @media(max-width: 376px){
    width: 35px;
    height: 35px;
  }
}
.profile:hover {
  border: #ff7e1b solid 2px;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
  width: 1110px;
  height: 50px;
  @media(max-width: 376px){
    width: 300px;
  }
}
.line {
  width: 1110px;
  height: 0.5px;
  background-color: #e4e9f2;
  @media(max-width: 376px){
    margin-top: -20px;
    width: 300px;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.p1:hover {
  border-bottom: #ff7e1b solid 4px;

  cursor: pointer;
}
.cart{
  width: 13px;
  height: 4px;
  background-color: white;
  box-shadow: 0px 1px 1px 1px gray;
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: absolute;
  margin-left: 894px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  @media(max-width: 376px){
    display: none;
  }
}
.p2{
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}
.line2{
  width: 360px;
  height: 0.1px;
  background-color: #69707d;
  position: absolute;
  margin-left: -20px;
  margin-top: 20px;
}
.cart:hover{
  width: 360px;
  height: 256px;
  margin-top: 330px;
  margin-left: 900px;
  color: black;
  padding: 20px;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 100px;
  @media(max-width: 376px){
     margin-top: 60px;
     gap: 30px;
     flex-direction: column;
  }
}
.left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.img1{
  width: 375px;
  height: 300px;
}
.img2, .img3, .img4, .img5{
  width: 88px;
  height: 88px;
  border-radius: 12px;
  @media(max-width: 376px){
    display: none;
  }
}
.imgs{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.img2:hover{
  border: 2px solid #ff7e1b;
}
.img3:hover{
  border: 2px solid #ff7e1b;
}
.img4:hover{
  border: 2px solid #ff7e1b;
}
.img5:hover{
  border: 2px solid #ff7e1b;
}
.right{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  @media(max-width: 376px){
    gap: 10px;
    width: 327px;
  }
}
.p2{
  color: #FF7E1B;
  font-size: 13px;
  font-weight: 700;
  @media(max-width: 376px){
    font-size: 12px;
  }
}
.p3{
  font-size: 44px;
  font-weight: 700;
  width: 445px;
  @media(max-width: 376px){
    width: 327px;
    font-size: 28px;
  }
}
.p4{
  font-size: 16px;
  font-weight: 400;
  color: #69707d;
  width: 445px;
  @media(max-width: 376px){
    width: 327px;
    font-size: 15px;
  }
}
.price{
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
  @media(max-width: 376px){
    width: 327px;
    gap: 20px;
  }
}
.p5{
  font-size: 28px;
  font-weight: 700;
}
.p6{
  width: 51px;
  height: 27px;
  background-color: #FFEEE2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #FF7E1B;
  font-size: 16px;
  font-weight: 700;
}
.p7{
  color: #B6BCC8;
  font-size: 16px;
  font-weight: 700;
  text-decoration: line-through;
  @media(max-width: 376px){
    margin-left: 40px;
  }
}
.add{
  background-color: #F6F8FD;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 157px;
  height: 56px;
  gap: 45px;
  border-radius: 10px;
  @media(max-width: 376px){
    width: 327px;
  }
}
.p8{
  color: #FF7E1B;
  font-weight: 900;
  font-size: 20px;
}
.p9{
  font-size: 16px;
  font-weight: 700;
}
.adding{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @media(max-width: 376px){
    width: 327px;
    flex-direction: column;
  }
}
.button{
  width: 272px;
  height: 56px;
  background-color:#FFAB6A;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  @media(max-width: 376px){
    width: 327px;
  }
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FF7E1B;
  transition-duration: .25s;
  backdrop-filter: blure 2px;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
.hamburger-menu{
  display: none;
  @media(max-width: 376px){
    display: block;
  }
}