@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fjalla+One&family=Gilda+Display&family=Karla:wght@700&family=Kumbh+Sans&family=Merriweather&family=Noto+Sans+Georgian&family=Outfit:wght@600&family=Poppins:wght@300;400&family=Roboto&family=Roboto+Condensed:ital@1&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.headerdiv {
  width: 591px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
h1 {
  font-weight: 900;
  font-size: 25px;
}
.p1 {
  color: #69707d;
  font-size: 15px;
  transition: 0.1s;
  height: 50px;
  margin-top: 37px;
}
.headerdiv2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  width: 150px;
  gap: 20px;
}
.profile {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: 0.1s;
}
.profile:hover {
  border: #ff7e1b solid 2px;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
  width: 1110px;
  height: 50px;
}
.line {
  width: 1110px;
  height: 0.5px;
  background-color: #e4e9f2;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.p1:hover {
  border-bottom: #ff7e1b solid 4px;

  cursor: pointer;
}
.main-img {
  position: absolute;
  width: 445px;
  height: 445px;
  top: 203px;
  left: 213px;
  background-image: url(./imgs/Rectangle.png);
  background-size: cover;
}
.little-images {
  display: flex;
  position: absolute;
  gap: 32px;
  width: 445px;
  height: 88px;
  top: 680px;
  left: 213px;
}
.first {
  width: 88px;
  height: 88px;
  background-image: url(./imgs/Rectangle.png);
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
}

.second {
  width: 88px;
  height: 88px;
  background-image: url(./imgs/Rectangle2.png);
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
}
.third {
  width: 88px;
  height: 88px;
  background-image: url(./imgs/RectangleCopy3.png);
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
}
.fourth {
  width: 88px;
  height: 88px;
  background-image: url(./imgs/RectangleCopy4.png);
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
}
.container {
  position: absolute;
  width: 445px;
  height: 426px;
  top: 265px;
  left: 783px;
}
.limited {
  position: absolute;
  width: 445px;
  height: 96px;
  top: 40px;
  font-family: Kumbh Sans;
  font-size: 44px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}
.stars-cont {
  position: absolute;
  width: 224px;
  height: 32px;
  top: 152px;
  border-radius: 10px;
  background-color: rgba(246, 248, 253, 1);
}
.stars {
  position: absolute;
  width: 114.51px;
  height: 19.09px;
  gap: 5px;
  left: 10px;
  top: 7px;
  color: rgba(250, 212, 9, 1);
  padding: 0px, 0px, 0px, 0px;
  font-weight: 700;
  display: flex;
}
#star {
  color: rgba(42, 42, 42, 1);
}
.score {
  position: absolute;
  width: 85.45px;
  height: 24.89px;
  left: 120px;
  top: -14px;
  font-family: Kumbh Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;

  color: rgba(72, 71, 68, 1);
}

.second-cotainer {
  position: absolute;
  width: 445px;
  height: 266px;
  top: 465px;
  left: 783px;
}

.text {
  position: absolute;
  width: 445px;
  height: 78px;
  top: 465px;
  left: 783px;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(105, 112, 125, 1);
}

.price-cont {
  position: absolute;
  width: 173px;
  height: 68px;
  top: 567px;
  left: 783px;
}
.new-price {
  position: absolute;
  width: 106px;
  height: 28px;
  top: 4px;
  font-family: Kumbh Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(29, 32, 38, 1);
}
.procent {
  position: absolute;
  width: 51px;
  height: 27px;

  top: 10px;
  left: 122px;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(255, 126, 27, 1);
  background-color: rgba(255, 238, 226, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.old-price {
  position: absolute;
  width: 63px;
  height: 26px;
  top: 42px;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(182, 188, 200, 1);
  text-decoration: line-through;
}

.add-container {
  position: absolute;
  width: 445px;
  height: 64px;
  top: 667px;
  left: 783px;
}
.minus-plius {
  display: flex;
  width: 157px;
  height: 56px;
  background-color: rgba(246, 248, 253, 1);
  border-radius: 10px;
}
button {
  color: rgba(255, 171, 106, 1);
  background-color: transparent;
  border-color: transparent;
  font-size: 45px;
}

.plius {
  cursor: pointer;
  right: 300px;
  position: absolute;
}
.number {
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(29, 32, 38, 1);
  position: absolute;
  left: 70px;
}
.minus {
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: -2px;
}

.add-to-cart {
  position: absolute;
  width: 272px;
  height: 56px;
  top: -0px;
  left: 180px;
  background-color: rgba(255, 126, 27, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: rgba(255, 255, 255, 1);
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  cursor: pointer;
}
.add-to-cart:hover {
  background-color: rgba(255, 171, 106, 1);
}
#boot {
  width: 445px;
  height: 426px;
  border-radius: 20px;
}
#carouselExampleDark {
  width: 500px;
  opacity: 0;
  height: 426px;
  margin-left: 213px;
  margin-top: 103px;
}
.carousel-control-prev-icon {
  margin-left: -82px;
  background-color: #69707d;
  border-radius: 50px;
}
.carousel-control-next-icon {
  margin-left: -26px;
  background-color: #69707d;
  border-radius: 50px;
}